

.qefBG{
    background-color: white;
    display: inline-block;
}

.qefSpace{
    padding: 1em;
    padding-top: 0;
}

.qefAnswerSpace{
    padding-bottom: 0.5em;
}

.qafAnswer{
    background-color: white;
}

.qafAnswerDeactivated {
    background-color: gray;
    pointer-events: none;
}

.qafAnswerSelected {
    background-color: green;
    color: white;
}